.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  min-height: 120px;
  padding: 37px 0 24px 0;

  &__title {
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &__description {
    max-width: 414px;
  }

  &__page-links {
    padding-top: 12px;
  }

  &__asteroids-page {
    color: #000;
    margin-right: 25px;
    font-weight: bold;
    text-decoration: none;
  }

  &__destroy-page {
    color: #000;
  }

  @media (max-width: 730px) {
    padding: 8px 0 18px 0;
  }
}
