.data-field-list {
  min-width: 289px;
  position: relative;

  &__item {
    list-style: none;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  @media (max-width: 730px) {
    padding: 0 15px;
  }
}
