.index {
  &__settings-panel,
  &__asteroid-card-list {
    list-style: none;
  }

  &__settings-panel {
    margin: 25px 0 10px 0;

    @media (max-width: 730px) {
      margin: 10px 0 0 0;
    }
  }
}
