*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: Helvetica;
  min-width: 290px;
  margin: 0 15px;
}

body {
  max-width: 920px;
  margin: auto;
}

html,
body,
#__next,
.layout {
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;

  &__wrapper {
    flex: 1;
  }
}
